version: '3'

services:
  registry:
    container_name: registry
    restart: always
    image: registry:2
    volumes:
      - {{ docker.registry.home }}/data:/var/lib/registry

  nginx:
    container_name: nginx
    image: nginx
    restart: always
    links:
       - registry
    volumes:
       - "./nginx.conf:/etc/nginx/conf.d"
    ports:
       - "80:80"

networks:
  default:
    external:
      name: {{ docker.registry.network }}


